@charset "UTF-8";


body {
    background-color: rgb(176, 208, 238);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: rgb(57, 10, 226);
    background-color: rgb(127, 240, 255);
}

h2 {

    color: brown;
}

p {

    text-align: justify;
}
